@model StateManagement.Models.Select_On_StudentResult


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayStudent</title>
</head>
<body>
    <div> 
        @Model.student_id
        @Model.student_name
        @Model.student_age
        @Model.student_class
        @Model.student_fees
    </div>
</body>
</html>
