@model StateManagement.Models.Select_On_EmpDptResult

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmployee</title>
</head>
<body>
    <div> 
        @Model.emp_salary
        @Model.emp_age
        @Model.emp_id
        @Model.emp_name
        @Model.dp_name
        @Model.dp_location
    </div>
</body>
</html>
