
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayPerson</title>
</head>
<body>
    <div>
        @ViewData["pname"];
        @ViewData["page"];
        @ViewData["pdept"];
        @ViewData["pgender"];
        @ViewData["pcheckbox"];
        @ViewData["ppwd"];
    </div>
</body>
</html>
