@model StateManagement.Models.Animal

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAnimal</title>
</head>
<body>
    <div> 
        <p>@Model.Department</p>
        <p>@Model.AcceptTerms</p>
        <p>@Model.Name</p>
        <p>@Model.Comments</p>
        <p>@Model.Gender</p>
    </div>
</body>
</html>
