@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        @* Displaying the value of sum in the default view *@
        @{ 
            int a = 10, b = 210, sum = 0;
            sum = a + b;
            <p>The value of sum is @sum</p>
        }
    </div>
    <a href="@Url.Action("Login", "Home")">Login Page</a>
    <a href="@Url.Action("Registration", "Home")">Registration Page</a>
    <a href="@Url.Action("PurchaseProduct", "Home")">Product Page</a>
    <a href="@Url.Action("FavouriteSingerDetails","Home")">Singer(Cookies)</a>
    <a href="@Url.Action("FavouriteCricketerDetails", "Home")">Cricketer(Session)</a>
    <a href="@Url.Action("App", "Home")">Facts(Application Data)</a>
    <a href="@Url.Action("AnonymousTypes", "Home")">Employee (Anonymous Types)</a>
    <br />
    <a href="@Url.Action("Product", "Home")">Product (Model)</a>
    <br/>
   <a href="@Url.Action("Cricketer", "Home")">Cricketer(Form Collection)</a>
    <a href="@Url.Action("Person","Home")">Person(Html helpers)</a>
    <a href="@Url.Action("Animal", "Home")">Animal (Strongly Typed HTML Helpers)</a>
</body>
</html>
